<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Car Rental</title>
    <link rel="icon" href="https://image.flaticon.com/icons/svg/174/174855.svg">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
    #container {
        height: 400px;
        min-width: 310px;
        max-width: 800px;
        margin: 0 auto;
    }
</style>
<body>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-3d.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

<div id="container" style="height: 400px"></div>

<script th:inline="javascript">
    Highcharts.chart('container', {
        chart: {
            type: 'column',
            options3d: {
                enabled: true,
                alpha: 10,
                beta: 25,
                depth: 70
            }
        },
        title: {
            text: 'Income per month'
        },
        subtitle: {
            /*text: 'Notice the difference between a 0 value and a null point'*/
        },
        plotOptions: {
            column: {
                depth: 25
            }
        },
        xAxis: {
            categories: [[${surveyMap.keySet()}]],
            labels: {
                skew3d: true,
                style: {
                    fontSize: '16px'
                }
            }
        },
        yAxis: {
            title: {
                text: null
            }
        },
        series: [{
            name: 'Income',
            data: [[${surveyMap.values()}]]
        }]
    });
</script>

<header>

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark pink scrolling-navbar">
        <a class="navbar-brand" href="/home"><strong class="fab fa-twitter">Car Rental Dashboard</strong></a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/displayBarGraph">Income-Per-User<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/displayPieChart">Gender-Stat<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/displayUsaChart">User-By-State<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/displayTrendWord">Trend-Word-Chart <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/displayMonth">Income-Per-Month<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/displayYear">Income-Per-Year<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/displayFollower">Most-Followers-ranking <span class="sr-only">(current)</span></a>
                </li>

            </ul>

            <ul class="navbar-nav nav-flex-icons">

                <!--<li class="nav-item">
                    <a class="nav-link"><i class="fab fa-twitter"></i></a>
                </li>-->

            </ul>
        </div>
    </nav>
</header>
<div id="header-bottom">
    <div class="container">
        <div class="row">
            <!--== Logo Start ==-->
            <div class="col-lg-4">
                <a href="index2.html" class="logo">
                    <img src="../static/assets/img/logo.png" th:src="@{/img/logo.png}" alt="JSOFT">
                </a>
            </div>
            <!--== Logo End ==-->

            <!--== Main Menu Start ==-->
            <div class="col-lg-8 d-none d-xl-block">
                <nav class="mainmenu alignright">
                    <ul>
                        <li class="active"><a href="/home">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <!--  <li><a href="services.html">Services</a></li>
                        -->
                        <li><a href="/payment">Payment</a></li>

                        <li><a href="/car">Cars</a>
                            <!-- <ul>
                                 <li><a href="car-left-sidebar.html">Car Left Sidebar</a></li>
                                 <li><a href="car-right-sidebar.html">Car Right Sidebar</a></li>
                                 <li><a href="car.html">Car Without Sidebar</a></li>
                                 <li><a href="car-details.html">Car Details</a></li>
                             </ul>-->
                        </li>
                        <!--    <li><a href="index.html">Pages</a>
                              &lt;!&ndash;  <ul>
                                    <li><a href="package.html">Pricing</a></li>
                                    <li><a href="driver.html">Driver</a></li>
                                    <li><a href="faq.html">FAQ</a></li>
                                    <li><a href="gallery.html">Gallery</a></li>
                                    <li><a href="help-desk.html">Help Desk</a></li>
                                    <li><a href="login.html">Log In</a></li>
                                    <li><a href="register.html">Register</a></li>
                                    <li><a href="404.html">404</a></li>
                                </ul>&ndash;&gt;
                            </li>-->
                        <!--<li><a href="#">Blog</a>
                            &lt;!&ndash;<ul>
                                <li><a href="article.html">Blog Page</a></li>
                                <li><a href="article-details.html">Blog Details</a></li>
                            </ul>&ndash;&gt;
                        </li>-->

                        <!--<li><a href="contact.html">Contact</a></li>&lt;!&ndash;
                       th:if="${teacher.gender == 'F'}"-->
                        <li th:if="${userRole.getRoleId()==1}"><a href="/dashboard">Dashboard</a>
                            <ul>
                                <li><a href="/dashboard">Usa dashboard</a></li>
                                <li><a href="/month">Month dashboard</a></li>
                                <li><a href="/year">Year dashboard</a></li>

                            </ul>
                        </li>
                        <li><a href="/logout">Logout</a></li>


                    </ul>
                </nav>
            </div>
            <!--== Main Menu End ==-->
        </div>
    </div>
</div>


</body>
</html>